<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="FooterFragment">
    <footer class="fixed bottom-0 w-full flex py-4">
        <nav class="flex gap-10 rounded-2xl container w-auto mx-auto px-10 py-6 justify-around text-center bg-neutral text-white">
            <a><i class="fa-solid fa-house fa-2xl" style="color: #f2f2f2;"></i>홈</a>
            <a><i class="fa-solid fa-hand-fist fa-2xl" style="color: #f4f0f0;"></i>챌린지</a>
            <a><i class="fa-solid fa-money-bill fa-2xl" style="color: #f0f2f4;"></i>혜택</a>
            <a><i class="fa-solid fa-shop fa-2xl" style="color: #e7eaee;"></i>구매</a>
            <a><i class="fa-solid fa-list fa-2xl" style="color: #eff0f0;"></i>전체</a>
        </nav>
    </footer>
</th:block>
</html>
