<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="HeaderFragment">
    <header class="flex w-full fixed top-0 z-50">
        <nav class="flex justify-center mx-auto navbar bg-base-100 border-b-2">
            <div class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h7"/>
                        </svg>
                    </label>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a class="text-base" th:href="@{/challenge/list/ALL}">챌린지</a></li>
                        <li><a class="text-base" th:href="@{/product/store}">상점</a></li>
                        <li><a class="text-base" th:href="@{/coin/history}">나의 코인</a></li>
                        <li><a class="text-base" th:href="@{/point/history}">나의 일상지원금</a></li>
                        <li><a class="text-base" th:href="@{/member/inventory}">아이템 보관함</a></li>
                    </ul>
                </div>

                <div class="mr-2" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a href="/member/admin" class="text-sm badge badge-outline badge-neutral py-1">관리자</a>
                </div>
            </div>
            <div class="navbar-center">
                <a class="btn btn-ghost normal-case text-xl font-extrabold text-purple-800" th:href="@{/}">Mirou</a>
            </div>
            <div class="navbar-end">

                <a sec:authorize="isAuthenticated()" href="/noti/list" class="btn btn-ghost btn-circle">
                    <i class="fa-regular fa-bell fa-lg"></i>
                </a>

                <a sec:authorize="!isAuthenticated()" href="/member/login" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-key fa-lg"></i>
                </a>

                <a sec:authorize="isAuthenticated()" href="/member/myPage" class="btn btn-ghost btn-circle">
                    <i class="fa-regular fa-user fa-lg" style="color: #000000;"></i>
                </a>

                <a sec:authorize="isAuthenticated()" href="/member/logout" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                </a>

            </div>
        </nav>
    </header>
</th:block>
</html>