<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>Coin History</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-full mx-auto py-20 navbar bg-base-100">

            <div th:if="${#lists.isEmpty(coinHistories)}">
                <div>
                    <h1>아직 아무런 기록도 없어요!</h1>
                </div>
            </div>

            <div class="flex flex-col w-full" th:unless="${#lists.isEmpty(coinHistories)}">
                <div class="flex flex-col w-full" th:each="history : ${coinHistories}">

                    <div class="flex w-full">
                        <div class="flex flex-grow-0 items-center mx-5">
                            <!-- FIXME: 임시 이미지-->
                            <img class="card rounded-lg" src="https://suicitorbsmu20367272.cdn.ntruss.com/feed_img/04114b20-62fb-43f7-9d0d-a0cf7cb178bb.jpg?type=m&w=50&h=50&quality=100&bgcolor=FFFFFF&ttype=png"
                                 alt="CoinHistoryImg">
                        </div>

                        <div class="flex flex-col flex-grow">
                            <p class="text-md" th:text="${history.contents}"></p>
                            <p class="text-sm text-gray-400" th:text="${history.getCreateDateFormattedStr()}"></p>
                        </div>

                        <div class="flex flex-grow-0 items-center">
                            <div th:if="${history.changeType.changeType.equals('적립')}">
                                <i class="fa-solid fa-plus fa-lg" style="color: #246deb;"></i>
                                <span class="text-blue-300" th:text="${history.changedCoin} + 'Coin'"></span>
                            </div>

                            <div th:if="${history.changeType.changeType.equals('사용')}">
                                <i class="fa-solid fa-minus fa-lg" style="color: #b53030;"></i>
                                <span class="text-red-300" th:text="${history.changedCoin} + 'Coin'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <div class="divider mt-2 w-full"></div>
                    </div>

                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>