<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>관리자 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="mx-auto w-1/2 py-20">
            <div class="flex flex-col w-full justify-center">
                <div th:if="${#lists.isEmpty(challengeList)}">
                    <p>챌린지가 생성되지 않았습니다!</p>
                </div>

                <div class="flex justify-center my-6" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a href="/challenge/create" class="btn btn-primary">챌린지 생성</a>
                </div>

                <div class="flex overflow-x-auto w-full" th:unless="${#lists.isEmpty(challengeList)}">
                    <table class="w-full table table-zebra">
                        <thead>
                        <tr>
                            <th class="mr-5">이름</th>
                            <th class="mr-8">보상 세팅</th>
                            <th class="mr-5">(보상 수/진행 일수)</th>
                            <th class="mr-5">상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="challenge : ${challengeList}">
                            <td th:text="${challenge.name}"></td>
                            <td>
                                <a th:href="|/reward/setting/${challenge.id}|" class="btn btn-sm btn-accent">보상 설정</a>
                            </td>
                            <td class="flex justify-center">
                                <p th:text="'0' '/'+ ${challenge.period}"></p>
                            </td>
                            <td th:text="${challenge.status.getStatus()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>