<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>관리자 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">

            <div class="mt-6" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <a href="/challenge/createTest" class="btn btn-primary" >테스트 챌린지 생성</a>
                <a href="/challenge/createChallenge" class="btn btn-primary" >챌린지 생성</a>
            </div>

            <div th:if="${#lists.isEmpty(challengeList)}">
                <p>테스트 챌린지가 생성되지 않았습니다!</p>
            </div>

            <div class="flex flex-col gap-10" th:unless="${#lists.isEmpty(challengeList)}">
                <div th:each="challenge : ${challengeList}">
                    <p th:text="${challenge.name}"></p>
                    <p th:text="${challenge.contents}"></p>
                    <a th:href="|/reward/setting/${challenge.id}|" class="btn btn-sm btn-accent">보상 설정하기</a>
                </div>
            </div>
        </div>
    </main>
</th:block>
</body>
</html>