<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>관리자 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 rounded-lg mx-10">
            <div class="flex flex-col min-w-32rem justify-center">
                <div th:if="${#lists.isEmpty(challengeList)}">
                    <p>챌린지가 생성되지 않았습니다!</p>
                </div>

                <div class="flex justify-center gap-6 my-6 grid grid-cols-2 mx-auto"
                     th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a href="/challenge/create" class="btn btn-primary w-36 justify-center flex">챌린지 생성</a>
                    <a href="/productInfo/infoForm" class="btn btn-warning w-36">상품 정보 추가</a>
                    <a href="/product/codeForm" class="btn btn-success w-36">상품 코드 추가</a>
                    <a href="/admin/report" class="btn btn-info w-36">주간 기록 확인</a>
                </div>

                <div class="flex mx-auto" th:unless="${#lists.isEmpty(challengeList)}">
                    <table class="w-full table table-zebra border">
                        <thead>
                        <tr>
                            <th class="mr-5">이름</th>
                            <th class="mr-8">보상 세팅</th>
                            <th class="mr-5">(보상 수/진행 일수)</th>
                            <th class="mr-5">옵션</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="w-full" th:each="challenge : ${challengeList}">
                            <td th:text="${challenge.name}"></td>
                            <td>
                                <a th:href="|/reward/setting/${challenge.id}|" class="btn btn-sm btn-accent">보상 설정</a>
                            </td>
                            <td class="flex justify-center">
                                <p th:text="${challenge.publicReward.size()} + '/'+ ${challenge.period}"></p>
                            </td>
                            <td th:unless="${challenge.status.getStatus().equals('세팅 전')}">
                                <!-- TODO: 챌린지의 종료와 보상의 수정(Modify) -->
                                <a class="btn btn-sm btn-warning" href="#">수정/종료</a>
                            </td>
                            <td th:if="${challenge.status.getStatus().equals('세팅 전')}">
                                <a th:href="|/reward/confirmSettings/${challenge.id}|"
                                   class="btn btn-sm btn-info">세팅마치기</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>
</th:block>
</body>
</html>