<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate" xmlns="http://www.w3.org/1999/html">
<head>
    <title>챌린지 생성 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">
            <form class="flex flex-col w-full" method="post" action="/challenge/create" enctype="multipart/form-data">
                <div class="flex justify-center form-control w-full">
                    <label class="label">
                        <span class="label-text">챌린지 제목</span>
                    </label>
                    <input type="text" placeholder="챌린지 제목 작성" class="input input-bordered w-full" name="name"/>
                </div>

                <div class="mt-4 form-control w-full">
                    <label class="label">
                        <span class="label-text">챌린지 내용</span>
                    </label>
                    <textarea rows="7" class="textarea textarea-bordered w-full" placeholder="챌린지 내용 작성"
                              name="contents"></textarea>
                </div>

                <div class="flex flex-col w-full justify-between mt-4">
                    <label class="label">
                        <span class="label-text">대표 이미지</span>
                    </label>
                    <input type="file" class="file-input file-input-bordered file-input-info" name="img">
                </div>

                <div class="flex w-full justify-start mt-4">
                    <label class="label">
                        <span class="label-text">세부 설정</span>
                    </label>
                </div>

                <div class="flex justify-around w-full">
                    <select class="select select-bordered" name="tag">
                        <option disabled selected>챌린지 종류</option>
                        <option value="ENVIRONMENT">환경 챌린지</option>
                        <option value="ROUTINE">습관 챌린지</option>
                        <option value="ETC">기타</option>
                    </select>

                    <select class="select select-bordered max-w-xs" name="period">
                        <option disabled selected>진행일수</option>
                        <option value="1">하루 챌린지</option>
                        <option value="3">3일 챌린지</option>
                        <option value="5">5일 챌린지</option>
                        <option value="7">일주일 챌린지</option>
                        <option value="14">2주 챌린지</option>
                        <option value="30">한달 챌린지</option>
                    </select>
                </div>

                <div class="mt-4 flex justify-around w-full">
                    <select id="method" class="select select-bordered max-w-xs" name="method"
                            onchange="whenPhotoSelect()">
                        <option disabled selected>인증 방법</option>
                        <option value="TEXT">텍스트 인증</option>
                        <option value="PHOTO">인증샷 인증</option>
                        <option value="ETC">기타</option>
                    </select>

                    <select class="select select-bordered max-w-xs" name="joinCost">
                        <option disabled selected>참여 비용</option>
                        <option value="500">500 포인트</option>
                        <option value="1000">1000 포인트</option>
                        <option value="2000">2000 포인트</option>
                    </select>
                </div>

                <div id="labelDiv" class="hidden mt-4 flex justify-center w-full">
                    <label class="label">
                        <span class="label-text">라벨 종류</span>
                    </label>
                    <div class="flex justify-center gap-3">
                        <label class="label">
                            <span class="label-text">물 마시기</span>
                            <input type="radio" name="labels" class="radio radio-primary" value="WATER"/>
                        </label>
                        <label class="label">
                            <span class="label-text">책 읽기</span>
                            <input type="radio" name="labels" class="radio radio-primary" value="BOOKS"/>
                        </label>
                        <label class="label">
                            <span class="label-text">기타</span>
                            <input type="radio" name="labels" class="radio radio-primary" value="ETC"/>
                        </label>
                    </div>
                </div>

                <div id="getLabelDiv" class="hidden mt-4 flex justify-center w-full">
                    <label class="label">
                        <span class="label-text">라벨 리스트</span>
                    </label>
                    <div class="flex justify-center tooltip"
                         data-tip="첫 글자는 대문자로, 쉼표로 구분하여 띄어쓰기 없이 영어로 작성해주세요.">
                        <input id="labelArea" name="labelList" type="text"
                               class="input input-bordered input-info w-full text-sm"
                               placeholder="(ex: Water,Glass,Cup)"/>
                    </div>
                </div>

                <div class="flex w-full justify-between mt-4">
                    <label class="label">
                        <span class="label-text">종료일 설정</span>
                    </label>
                    <input class="px-3 py-3 border border-gray-900 rounded-lg" type="date" name="joinDeadLine">
                </div>

                <div class="flex w-full mt-4 rating rating-lg">
                    <label class="label">
                        <span class="label-text">난이도</span>
                    </label>
                    <div class="flex justify-end w-full">
                        <input value="0" type="radio" name="level" class="rating-hidden"/>
                        <input value="1" type="radio" name="level" class="mask mask-star-2 bg-orange-400"/>
                        <input value="2" type="radio" name="level" class="mask mask-star-2 bg-orange-400" checked/>
                        <input value="3" type="radio" name="level" class="mask mask-star-2 bg-orange-400"/>
                        <input value="4" type="radio" name="level" class="mask mask-star-2 bg-orange-400"/>
                        <input value="5" type="radio" name="level" class="mask mask-star-2 bg-orange-400"/>
                    </div>
                </div>

                <div class="w-full mt-4 form-control">
                    <label class="label">
                        <span class="label-text">주의사항</span>
                    </label>
                    <textarea rows="7" class="textarea textarea-bordered w-full" placeholder="주의사항 작성"
                              name="precaution"></textarea>
                </div>

                <div class="mt-6">
                    <button class="btn btn-success" type="submit">챌린지 생성하기</button>
                </div>
            </form>
        </div>

        <script th:inline="javascript">

            function whenPhotoSelect() {
                var selectElement = document.getElementById('method');
                var selectedValue = selectElement.value;
                var labelDiv = document.getElementById('labelDiv')

                if (selectedValue === 'PHOTO') {
                    labelDiv.style.display = 'block';
                } else {
                    labelDiv.style.display = 'none';
                }
            }

            const radioButtons = document.getElementsByName("labels");
            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener("change", function () {

                    const selectedValue = document.querySelector('input[name="labels"]:checked').value;
                    const getLabelDiv = document.getElementById("getLabelDiv");
                    const labelArea = document.getElementById("labelArea");

                    if (selectedValue === 'ETC') {
                        getLabelDiv.style.display = 'block';
                        labelArea.value = "";
                    } else {
                        const requestData = {
                            selectedValue: selectedValue,
                        };

                        $.ajax({
                            url: "/challenge/getLabels",
                            type: "POST",
                            data: requestData,
                            success: function (data) {
                                const response = data;
                                getLabelDiv.style.display = 'block';
                                labelArea.value = response.labels;
                            }
                        })
                    }
                })
            })
        </script>
    </main>
</th:block>
</body>
</html>