<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate" xmlns="http://www.w3.org/1999/html">
<head>
    <title>챌린지 생성 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">

            <div class="form-control w-full max-w-xs" >
                <label class="label">
                    <span class="label-text">챌린지 제목</span>
                </label>
                <input type="text" placeholder="챌린지 제목 작성" class="input input-bordered w-full max-w-xs" />
            </div><br>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">챌린지 내용</span>
                </label>
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" placeholder="챌린지 내용 작성"></textarea>
            </div><br>

            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">소득</span>
                </label>
                <input type="text" placeholder="완료시 얻는 소득(coin)" class="input input-bordered w-full max-w-xs" />
            </div><br>

            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">일상지원금</span>
                </label>
                <input type="text" placeholder="참가시 사용 일상지원금(point)" class="input input-bordered w-full max-w-xs" />
            </div><br>

            <div>
                <label class="label">
                    <span class="label-text">챌린지 시작일</span>
                </label>
                <input type="date"/>
            </div><br>

            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>진행일수</option>
                <option>1일</option>
                <option>1주</option>
                <option>1달</option>
            </select><br>

            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>챌린지 종류</option>
                <option>신규</option>
                <option>환경</option>
                <option>습관</option>
            </select><br>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">인증방법</span>
                </label>
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" placeholder="인증방법 작성"></textarea>
            </div><br>

            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>총 몇회 인증?</option>
                <option>1회</option>
                <option>3회</option>
                <option>5회</option>
            </select><br>

            <div class="rating rating-lg rating-half">
                <label class="label">
                    <span class="label-text">난이도</span>
                </label>
                <input type="radio" name="rating-10" class="rating-hidden" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-1" checked />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-2" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-1" />
                <input type="radio" name="rating-10" class="bg-green-500 mask mask-star-2 mask-half-2" />
            </div><br>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">주의사항</span>
                </label>
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" placeholder="주의사항 작성"></textarea>
            </div><br>

            <div class="mt-6">
                <a href="/challenge/detailChallenge" class="btn btn-primary" >챌린지 생성하기</a>
            </div>
        </div>

    </main>
</th:block>
</body>
</html>