<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate" xmlns="http://www.w3.org/1999/html">
<head>
    <title>챌린지 생성 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">
        <form class="flex flex-col" method="post" action="/challenge/create">
            <div class="form-control w-full max-w-xs" >
                <label class="label">
                    <span class="label-text">챌린지 제목</span>
                </label>
                <input type="text" placeholder="챌린지 제목 작성" class="input input-bordered w-full max-w-xs" name="name"/>
            </div><br>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">챌린지 내용</span>
                </label>
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" placeholder="챌린지 내용 작성" name="contents"></textarea>
            </div><br>

            <select class="select select-bordered w-full max-w-xs" name="joinCost">
                <option disabled selected>일상지원금</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
                <option value="2000">2000</option>
            </select><br>

            <div>
                <label class="label">
                    <span class="label-text">챌린지 데드라인 설정</span>
                </label>
                <input type="date" name="joinDeadLine">
            </div><br>

            <select class="select select-bordered w-full max-w-xs" name="period">
                <option disabled selected>진행일수</option>
                <option value="DAY1">하루 챌린지</option>
                <option value="DAY3">3일 챌린지</option>
                <option value="DAY5">5일 챌린지</option>
                <option value="DAY7">일주일 챌린지</option>
            </select><br>

            <select class="select select-bordered w-full max-w-xs" name="tag">
                <option disabled selected>챌린지 종류</option>
                <option value="ENVIRONMENT">환경 챌린지</option>
                <option value="ROUTINE">습관 챌린지</option>
                <option value="ETC">기타</option>
            </select><br>

            <select class="select select-bordered w-full max-w-xs" name="method">
                <option disabled selected>인증 방법</option>
                <option value="TEXT">텍스트 인증</option>
                <option value="PHOTO">인증샷 인증</option>
                <option value="ETC">기타</option>
            </select><br>

            <select class="select select-bordered w-full max-w-xs" name="requiredNum">
                <option disabled selected>총 몇회 인증?</option>
                <option value="1">1회</option>
                <option value="3">3회</option>
                <option value="5">5회</option>
            </select><br>

            <div class="rating rating-lg">
                <label class="label">
                    <span class="label-text">난이도</span>
                </label>
                <input value="0" type="radio" name="level" class="rating-hidden" />
                <input value="1" type="radio" name="level" class="mask mask-star-2" />
                <input value="2" type="radio" name="level" class="mask mask-star-2" checked />
                <input value="3" type="radio" name="level" class="mask mask-star-2" />
                <input value="4" type="radio" name="level" class="mask mask-star-2" />
                <input value="5" type="radio" name="level" class="mask mask-star-2" />
            </div><br>

            <select class="select select-bordered w-full max-w-xs" name="status">
                <option disabled selected>상태</option>
                <option value="OPEN">진행중</option>
                <option value="CLOSE">종료</option>
            </select><br>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">주의사항</span>
                </label>
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" placeholder="주의사항 작성" name="precaution"></textarea>
            </div><br>

            <div class="mt-6">
                <button type="submit">챌린지 생성하기</button>
            </div>
        </form>
        </div>

    </main>
</th:block>
</body>
</html>