<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>사용할 페이지 명</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">

            <div class="flex flex-col h-full">

                <div th:if="${challengeImg}">
                    <img class="border rounded-lg" th:src="${challengeImg}" alt="challengeImg">
                </div>

                <h1 th:text="${challenge.name}"></h1>

                <p th:text="'내용 : ' + ${challenge.contents}"></p>
                <p th:text="'참가 비용 : ' + ${challenge.joinCost}"></p>
                <p th:text="'난이도 : ' + ${challenge.level}"></p>

                <p class="justify-center mt-10">보상 내용</p>
                <div class="flex flex-row mt-4" th:each="reward : ${challenge.publicReward}">
                    <span th:text="${reward.round} + '회차 : '"></span>
                    <span th:text="${reward.reward}"></span>
                    <span th:text="${reward.rewardType}"></span>
                </div>

                <!--FIXME: 1번 챌린지만 가입했는데 2,3번 챌린지의 인증하기가 보이는 오류 -->
                <div class="mt-10" th:if="${isJoin}">
                    <a class="btn btn-warning" th:href="|/feed/write/${challenge.id}|">인증하기</a>
                </div>

                <div class="mt-10" th:unless="${isJoin}">
                    <a class="btn btn-info" th:href="|/challengeMember/join/${challenge.id}|">참가하기</a>
                </div>

                <div class="divider"></div>

                <div th:if="${#lists.isEmpty(feedList)}">
                    <h1 class="text-bold">아직 인증글이 없습니다!</h1>
                </div>

                <div class="flex flex-row gap-3" th:unless="${#lists.isEmpty(feedList)}">
                    <div class="indicator" th:each="feed : ${feedList}">
                        <span class="indicator-item badge badge-primary">new</span>
                        <a th:href="|/feed/detail/${feed.id}|">
                            <div class="grid w-32 h-32 bg-gray-300 place-items-center">
                                <span th:text="${feed.contents}"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>