<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title th:text="${detailDTO.challenge.name}"></title>
    <script th:inline="javascript">

        function tryJoinBtn() {
            const challengeName = /*[[${detailDTO.challenge.name}]]*/'';
            const joinCost =/*[[${detailDTO.challenge.joinCost}]]*/'';
            const canJoin = /*[[${detailDTO.canJoin}]]*/'';
            const successUrl = /*[[|/challengeMember/join/${detailDTO.challenge.id}|]]*/'';

            if (canJoin) {
                const confirmResult = confirm(challengeName + "에 참여하시겠습니까?\n참가비용 : " + joinCost + "포인트");
                if (confirmResult) {
                    window.location.href = successUrl;
                } else {
                    toastNotice("참여가 취소되었습니다.");
                }
            } else {
                toastWarning("챌린지는 최대 3개만 참여 가능합니다.");
            }
        }
    </script>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">

            <div class="flex flex-col h-full bg-white">

                <img class="rounded-lg" th:src="${challengeImg}" alt="challengeImg">

                <h1 class="my-3 text-2xl font-bold" th:text="${detailDTO.challenge.name}"></h1>

                <div class="flex justify-center inline-block">
                    <i class="mt-2 flex fa-solid fa-star fa-lg" style="color: #f9c406;"></i>
                    <span class="flex ml-2 font-light text-sm" th:text="${detailDTO.memberCount} + '명 참여중'"></span>
                </div>

                <div class="flex w-full justify-between items-center mt-3">
                    <div class="flex flex-col">
                        <div>
                            <p th:text="${detailDTO.challenge.getJoinDeadLineFormat()}"></p>
                        </div>

                        <div class="flex mt-2 gap-2">

                            <div class="flex badge badge-primary badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="${detailDTO.challenge.method.getMethod()} + '으로 참여하는 챌린지에요!'">

                                <i class="fa-solid fa-camera-retro md:fa-mg sm:fa-sm lg:fa-lg mr-2"
                                   th:if="${detailDTO.challenge.method.getMethod().equals('인증샷 인증')}"></i>
                                <i class="fa-solid fa-font fa-lg mr-2"
                                   th:if="${detailDTO.challenge.method.getMethod().equals('텍스트 인증')}"></i>
                                <i class="fa-solid fa-star-of-life fa-lg mr-2"
                                   th:if="${detailDTO.challenge.method.getMethod().equals('기타')}"></i>

                                <p class="md:text-xs lg:text-sm"
                                   th:text="${detailDTO.challenge.method.getMethod()}"></p>
                            </div>
                            <div class="flex badge badge-accent badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="'참여 당일부터 ' + ${detailDTO.challenge.period} + '일 간 진행되요!'">
                                <i class="fa-regular fa-calendar fa-lg mr-2"></i>
                                <p class="md:text-xs lg:text-sm" th:text="${detailDTO.challenge.period} + '일 챌린지'"></p>
                            </div>

                            <div class="badge badge-primary badge-outline rounded-md px-3 py-4">

                                <i class="fa-solid fa-person-walking fa-lg mr-2"
                                   th:if="${detailDTO.challenge.tag.getChallengeTag().equals('습관 챌린지')}"></i>
                                <i class="fa-solid fa-tree fa-lg mr-2"
                                   th:if="${detailDTO.challenge.tag.getChallengeTag().equals('환경 챌린지')}"></i>
                                <i class="fa-solid fa-pen fa-lg mr-2"
                                   th:if="${detailDTO.challenge.tag.getChallengeTag().equals('기타')}"></i>

                                <p class="md:text-xs lg:text-sm"
                                   th:text="${detailDTO.challenge.tag.getChallengeTag()}"></p>
                            </div>
                        </div>
                    </div>

                    <div class="flex mb-2" th:if="${detailDTO.isJoin}">
                        <div class="flex shadow-xl ml-3">
                            <div class="flex flex-col rounded-md bg-white py-3 px-2">
                                <a class="btn m-3 rounded-md bg-yellow-300"
                                   th:href="|/feed/write/${detailDTO.challenge.id}|"
                                   th:disabled="${detailDTO.canWrite}">
                                    <i class="fa-solid fa-check"></i>
                                </a>
                                <span th:if="${!detailDTO.canWrite}"
                                      class="flex justify-center text-sm font-thin">인증하기</span>
                                <span th:if="${detailDTO.canWrite}"
                                      class="flex justify-center text-sm font-thin tooltip"
                                      data-tip="오늘은 이미 인증을 완료했어요!">인증완료</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex mb-2" th:unless="${detailDTO.isJoin}">
                        <div class="flex shadow-xl ml-3">
                            <div class="flex flex-col rounded-md bg-white py-3 px-2">
                                <a class="btn m-3 rounded-md bg-purple-300" onclick="tryJoinBtn()">
                                    <i class="fa-regular fa-user fa-lg"></i>
                                </a>
                                <span class="mt-2 flex justify-center text-sm font-thin">참가하기</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex flex-col w-full justify-start">
                    <h1 class="text-lg font-bold">챌린지 내용</h1>

                    <div class="flex flex-col">
                        <div class="rating mb-2">
                            <h1 class="mt-2 font-thin text-gray-500 mr-4">예상 난이도</h1>
                            <input disabled type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                   th:checked="${detailDTO.challenge.level} == 1"/>
                            <input disabled type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                   th:checked="${detailDTO.challenge.level} == 2"/>
                            <input disabled type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                   th:checked="${detailDTO.challenge.level} == 3"/>
                            <input disabled type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                   th:checked="${detailDTO.challenge.level} == 4"/>
                            <input disabled type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                                   th:checked="${detailDTO.challenge.level} == 5"/>
                        </div>

                        <div class="flex tooltip"
                             data-tip="생활지원금은 챌린지 참여 시에만 사용되며, 매주 월요일에 3000원씩 지급되요.">
                            <h1 class="mr-4 font-thin text-gray-500">참가비</h1>
                            <p th:text="'생활지원금 ' + ${detailDTO.challenge.joinCost} + '원' "></p>
                            <i class="pl-2 pt-2 fa-solid fa-money-bill-wave fa-lg" style="color: #3faa31;"></i>
                        </div>
                    </div>
                    <p class="my-2 text-sm font-thin text-gray-500" th:text="${detailDTO.challenge.contents}"></p>
                </div>

                <div class="w-full" th:if="${detailDTO.isJoin}">
                    <div class="divider"></div>

                    <h1 class="flex justify-start text-lg font-bold mb-2">나의 진행 현황</h1>
                    <div class="flex flex-row">
                        <div class="w-1/2 mt-3">
                            <div class="flex justify-center">
                                <progress class="progress progress-success w-48" th:value="${detailDTO.successNum}"
                                          th:max="${detailDTO.maxNum}"></progress>
                            </div>
                            <div class="flex justify-center mt-2">
                                <h1 th:text=" ${detailDTO.successNum} + ' / ' + ${detailDTO.maxNum}"></h1>
                            </div>
                        </div>

                        <div class="w-1/2 h-full">
                            <h1 th:text="'종료까지 ' + ${detailDTO.getLastDayNum()} + '일 남았습니다.'"></h1>
                        </div>
                    </div>

                </div>

                <div class="w-full" th:if="${detailDTO.isJoin}">
                    <div class="divider"></div>

                    <h1 class="flex justify-start text-lg font-bold mb-2">인증 피드</h1>
                    <div class="flex justify-center" th:if="${#lists.isEmpty(detailDTO.recently3Feeds)}">
                        <h1 class="font-thin text-gray-500">아직 인증글이 없습니다!</h1>
                    </div>

                    <div class="flex gap-3" th:unless="${#lists.isEmpty(detailDTO.recently3Feeds)}">
                        <div class="flex flex-col w-full" th:each="feed, iterStat : ${detailDTO.recently3Feeds}">
                            <div class="flex justify-center">
                                <div class="card grid w-28 h-28 bg-gray-200 rounded-lg shadow-xl">
                                    <img th:src="${detailDTO.getFeedOptimizedImages().get(iterStat.index)}"
                                         alt="feedFreeView" th:onclick="'feedModal' + ${feed.id} + '.showModal()'"
                                         class="place-items-center rounded-lg">
                                    <span class="flex mt-1 justify-center text-sm" th:text="${#strings.length(feed.contents) > 7
                                    ? #strings.substring(feed.contents, 0, 7) + '...' : feed.contents}"></span>
                                </div>

                                <dialog th:id="'feedModal' + ${feed.id}" class="modal">
                                    <div class="modal-box">
                                        <form method="dialog">
                                            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                                            </button>
                                        </form>
                                        <h3 class="font-bold" th:text="${feed.writer.getNickname()}"></h3>
                                        <img th:src="${feed.imgUrl}" alt="feedImg">
                                        <p class="py-4" th:text="${feed.contents}"></p>
                                    </div>
                                </dialog>
                            </div>
                            <div class="flex justify-center mt-2">
                                <span class="text-sm"
                                      th:text="${#strings.substring(feed.writer.nickname, 0, 10) + '...'}"></span>
                            </div>
                        </div>

                        <div class="flex justify-center items-center ml-3">
                            <a th:href="|/feed/list/${detailDTO.challenge.id}|" class="btn btn-outline btn-secondary">
                                <i class="fa-solid fa-arrow-right fa-lg"></i>
                                더보기
                            </a>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex w-full flex-col justify-start">
                    <p class="text-lg font-bold">보상</p>

                    <div class="flex overflow-x-auto w-full">
                        <table class="table table-zebra">
                            <thead>
                            <tr class="flex justify-around">
                                <th class="mr-5">회차</th>
                                <th class="mr-5">최대 보상</th>
                            </tr>
                            </thead>
                            <tbody th:if="${detailDTO.isJoin()}">
                            <tr class="flex justify-around" th:each="reward : ${detailDTO.privateRewards}">
                                <td th:text="${reward.round}"></td>
                                <td>
                                    <span th:text="${reward.reward}"></span>
                                    <span th:text="${reward.rewardType.getRewardType()}"></span>
                                    <i class="fa-solid fa-coins fa-lg pl-2 pt-2" style="color: #eac02a;"
                                       th:if="${reward.rewardType.getRewardType().equals('코인')}"></i>
                                    <i class="fa-solid fa-gift fa-lg pl-2 pt-2" style="color: #d23232;"
                                       th:if="${reward.rewardType.getRewardType().equals('상품')}"></i>
                                </td>
                            </tr>
                            </tbody>

                            <tbody th:unless="${detailDTO.isJoin()}">
                            <tr class="flex justify-around" th:each="reward : ${detailDTO.publicRewards}">
                                <td th:text="${reward.round}"></td>
                                <td>
                                    <span th:text="${reward.reward}"></span>
                                    <span th:text="${reward.rewardType.getRewardType()}"></span>
                                    <i class="fa-solid fa-coins fa-lg pl-2 pt-2" style="color: #eac02a;"
                                       th:if="${reward.rewardType.getRewardType().equals('코인')}"></i>
                                    <i class="fa-solid fa-gift fa-lg pl-2 pt-2" style="color: #d23232;"
                                       th:if="${reward.rewardType.getRewardType().equals('상품')}"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex flex-col w-full justify-start">
                    <h1 class="text-lg font-bold">유의사항</h1>

                    <p class="my-2 text-sm font-thin text-gray-500" th:text="${detailDTO.challenge.precautions}"></p>
                </div>

                <div class="divider"></div>
            </div>
        </div>

        <div class="flex flex-grow bg-purple-50"></div>
    </main>
</th:block>
</body>
</html>