<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>사용할 페이지 명</title>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var cantJoinBtn = document.getElementById('cantJoinBtn');
            if (cantJoinBtn) {
                cantJoinBtn.addEventListener('click', function () {
                    alert('참여가능한 챌린지 횟수를 초과했습니다.');
                });
            }
        });
    </script>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-full mx-auto py-20 navbar bg-base-100">

            <div class="flex flex-col h-full">

                <img class="border rounded-lg" th:src="${challengeImg}" alt="challengeImg">

                <h1 class="my-3 text-2xl font-bold" th:text="${challenge.name}"></h1>

                <div class="flex justify-center inline-block">
                    <i class="mt-2 flex fa-solid fa-star fa-lg" style="color: #f9c406;"></i>
                    <span class="flex ml-2 font-light text-sm" th:text="${memberCount} + '명 참여중'"></span>
                </div>

                <div class="flex w-full justify-between my-6">
                    <div class="flex flex-col">
                        <div>
                            <p th:text="${challenge.createDate}"></p>
                        </div>

                        <div class="flex gap-1">
                            <div class="badge badge-primary badge-outline" th:text="${challenge.method}"></div>
                            <div class="badge badge-secondary badge-outline"
                                 th:text="${challenge.period} + '일 챌린지'"></div>
                            <div class="badge badge-primary badge-outline" th:text="${challenge.tag}"></div>
                        </div>
                    </div>
                    <div th:if="${canWrite}">
                        <h1>이미 작성 했습니다.</h1>
                    </div>

                    <!--                    이미 오늘 인증을 완료한 챌린지이면 인증하기 버튼을 눌렀을 때 '인증 완료한 챌린지' 경고문 출력-->
                    <div class="flex" th:if="${isJoin}" th:unless="${canWrite}">
                        <a class="btn btn-warning" th:href="|/feed/write/${challenge.id}|">인증하기</a>
                    </div>

                    <div class="flex" th:unless="${isJoin}">

                        <div th:if="${canJoin}">
                            <a class="btn btn-info" th:href="|/challengeMember/join/${challenge.id}|">참가하기</a>
                        </div>

                        <div class="flex" th:unless="${canJoin}">
                            <a id="cantJoinBtn" class="btn btn-info">참가하기</a>
                        </div>

                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex flex-col w-full justify-start">
                    <h1 class="text-lg font-bold">챌린지 내용</h1>

                    <p th:text="'참가 비용 : ' + ${challenge.joinCost}"></p>
                    <p th:text="'난이도 : ' + ${challenge.level}"></p>

                    <p class="my-2 text-sm font-thin text-gray-500" th:text="${challenge.contents}"></p>
                </div>

                <div class="divider"></div>

                <div class="flex w-full flex-col justify-start">
                    <p class="text-lg font-bold">보상</p>

                    <div class="flex overflow-x-auto w-full">
                        <table class="table table-zebra">
                            <thead>
                            <tr class="flex justify-around">
                                <th class="mr-5">회차</th>
                                <th class="mr-5">보상</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="flex justify-around" th:each="reward : ${rewardList}">
                                <td th:text="${reward.round}"></td>
                                <td th:text="${reward.reward} + ${reward.rewardType}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex flex-col w-full justify-start">
                    <h1 class="text-lg font-bold">유의사항</h1>

                    <p class="my-2 text-sm font-thin text-gray-500" th:text="${challenge.precautions}"></p>
                </div>

                <div class="divider"></div>

                <div th:if="${#lists.isEmpty(feedList)}">
                    <h1 class="text-bold">아직 인증글이 없습니다!</h1>
                </div>

                <div class="flex flex-row gap-3" th:unless="${#lists.isEmpty(feedList)}">
                    <div class="indicator" th:each="feed : ${feedList}">
                        <span class="indicator-item badge badge-primary">new</span>
                        <a th:href="|/feed/detail/${feed.id}|">
                            <div class="grid w-32 h-32 bg-gray-300 place-items-center">
                                <span th:text="${feed.contents}"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>