<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate" xmlns="http://www.w3.org/1999/html">
<head>
    <title>전체 챌린지 리스트 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">
            <h1>전체 챌린지 리스트</h1>
            <div class="overflow-x-auto">

                <div th:if="${#lists.isEmpty(openedChallenges)}">
                    <h1>진행중인 챌린지가 없습니다!!</h1>
                </div>

                <table class="table" th:unless="${#lists.isEmpty(openedChallenges)}">
                    <!-- head -->
                    <thead>
                    <tr>
                        <td>챌린지 제목</td>
                        <td>챌린지 내용</td>
                        <td>소모 일상지원금</td>
                        <td>상세보기</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="challenge : ${openedChallenges}">
                        <td th:text="${challenge.name}"></td>

                        <td th:text="${challenge.contents}"></td>

                        <td th:text="${challenge.joinCost}"></td>

                        <th>
                            <a th:href="|/challenge/detail/${challenge.id}|" class="btn btn-sm">detail</a>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</th:block>
</body>
</html>