<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>전체 챌린지 리스트 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">

            <div class="flex flex-col w-full bg-purple-200 py-3 rounded-2xl mt-3">
                <div class="flex">
                    <div class="grid flex-grow rounded-box">
                        <div class="flex justify-around">
                            <div>
                                <span class="text-sm">일상지원금</span>
                            </div>

                            <div>
                                <span class="text-sm" th:text="${#numbers.formatInteger(member.point.currentPoint, 1, 'COMMA')}"></span>
                                <i class="fa-solid fa-money-bill-wave ml-2" style="color: #3faa31;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="divider divider-horizontal"></div>
                    <div class="grid flex-grow rounded-box">
                        <div class="flex justify-around">
                            <div>
                                <span class="text-sm">코인</span>
                            </div>

                            <div>
                                <span class="text-sm" th:text="${#numbers.formatInteger(member.coin.currentCoin, 1, 'COMMA')}"></span>
                                <i class="fa-solid fa-coins ml-2" style="color: #eac02a;"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="flex mt-10 justify-center">
                <h1 class="text-lg">현재 진행중인 챌린지</h1>
            </div>

            <div th:if="${#lists.isEmpty(myChallenges)}" class="mt-3">
                <h1 class="text-4xl mt-10">아직 참여중인 챌린지가 없습니다.</h1>
            </div>

            <div class="flex rounded-lg justify-center mt-3 flex-wrap" th:unless="${#lists.isEmpty(myChallenges)}">
                <a class="card flex flex-col shadow-lg rounded m-3 bg-purple-100 w-40 mx-auto"
                   th:each="myChallenge : ${myChallenges}"
                   th:href="@{|/challenge/detail/${myChallenge.id}|}">

                    <div class="flex justify-center">
                        <img class="w-24 h-24 border rounded-full shadow-lg m-2"
                             th:src="${challengeImages.get(myChallenge.id)}"
                             alt="challengeImg">
                    </div>

                    <div class="card-body flex text-center items-center p-2 m-2">
                        <div class="my-auto">
                            <h2 class="title font-bold mb-3" th:text="${myChallenge.name}"></h2>
                        </div>

                        <div>
                            <div class="flex justify-center items-center content-end">
                                <div class="flex items-center">
                                    <i class="fa-solid fa-money-bill-wave fa-lg mr-1" style="color: #3faa31;"></i>
                                    <span class="text-sm" th:text="${myChallenge.joinCost}"></span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fa-solid fa-coins fa-lg mr-1 ml-2" style="color: #eac02a;"></i>
                                    <span class="text-sm" th:text="${myChallenge.joinCost}"></span>
                                </div>
                            </div>
                            <div class="flex mt-3">
                                <i class="flex fa-solid fa-calendar-days fa-lg mr-2 mt-2" style="color: #6e95bf;"></i>
                                <p class="text-sm" th:text="${myChallenge.getJoinDeadLineFormat()}"></p>
                            </div>
                            <div class="badge badge-sm badge-outline rounded-md mt-1 px-3 py-3  mt-2">
                                <i class="fa-solid fa-person-walking fa-lg mr-2"
                                   th:if="${myChallenge.tag.getChallengeTag().equals('습관 챌린지')}"></i>
                                <i class="fa-solid fa-tree fa-lg mr-2"
                                   th:if="${myChallenge.tag.getChallengeTag().equals('환경 챌린지')}"></i>
                                <i class="fa-solid fa-pen fa-lg mr-2"
                                   th:if="${myChallenge.tag.getChallengeTag().equals('기타')}"></i>
                                <p th:text="${myChallenge.tag.getChallengeTag()}"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="divider"></div>

            <div class="flex justify-center">
                <h1 class="text-lg">전체 챌린지</h1>
            </div>

            <div class="flex justify-center mt-3">
                <a id="ALL" href="/challenge/list/ALL" class="btn rounded-full shadow-lg border mr-4">전체</a>
                <a id="ENVIRONMENT" href="/challenge/list/ENVIRONMENT" class="btn rounded-full shadow-lg border mr-4">환경</a>
                <a id="ROUTINE" href="/challenge/list/ROUTINE" class="btn rounded-full shadow-lg border mr-4">습관</a>
                <a id="ETC" href="/challenge/list/ETC" class="btn rounded-full shadow-lg border mr-4">기타</a>
            </div>

            <div th:if="${#lists.isEmpty(openedChallenges)}" class="flex justify-center mt-3">
                <h1 class="text-2xl mt-10">참여가능한 챌린지가 없습니다.</h1>
            </div>

            <div class="flex rounded-lg mt-3 flex-wrap grid lg:grid-cols-2 sm:grid-cols-1"
                 th:unless="${#lists.isEmpty(openedChallenges)}">
                <a class="card card-side flex flex-row shadow-lg rounded-xl m-3 bg-purple-100 h-48"
                   th:each="challenge : ${openedChallenges}" th:href="|/challenge/detail/${challenge.id}|">
                    <figure class="ml-3">
                        <img class="card-img rounded-lg shadow-lg m-2"
                             th:src="${challengeImages.get(challenge.id)}"
                             alt="challengeImg">
                    </figure>
                    <div class="card-body flex text-center items-center p-2 m-2">
                        <div class="my-auto">
                            <h2 class="title font-bold mb-3" th:text="${challenge.name}"></h2>
                        </div>

                        <div>
                            <div class="flex justify-center items-center">
                                <div class="flex items-center">
                                    <i class="fa-solid fa-money-bill-wave fa-lg mr-1" style="color: #3faa31;"></i>
                                    <span class="text-sm" th:text="${challenge.joinCost}"></span>
                                </div>
                                <div class="flex items-center">
                                    <i class="fa-solid fa-coins fa-lg mr-1 ml-2" style="color: #eac02a;"></i>
                                    <span class="text-sm" th:text="${challenge.joinCost}"></span>
                                </div>
                            </div>
                            <div class="flex mt-3">
                                <i class="flex fa-solid fa-calendar-days fa-lg mr-2 mt-2" style="color: #6e95bf;"></i>
                                <p class="text-sm" th:text="${challenge.getJoinDeadLineFormat()}"></p>
                            </div>
                            <div class="badge badge-sm badge-outline rounded-md mt-1 px-3 py-3 mt-2">
                                <i class="fa-solid fa-person-walking fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('습관 챌린지')}"></i>
                                <i class="fa-solid fa-tree fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('환경 챌린지')}"></i>
                                <i class="fa-solid fa-pen fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('기타')}"></i>
                                <p th:text="${challenge.tag.getChallengeTag()}"></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex flex-grow bg-purple-50"></div>
    </main>

    <script>

        let href = window.location.href;
        let tag = href.split("list/")[1];
        let tagDiv = document.getElementById(tag);

        tagDiv.classList.add("btn-active");
    </script>
</th:block>
</body>
</html>