<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>물품 정보 등록 폼</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10 min-h-screen">
            <div class="w-full justify-center">
                <form method="POST" action="/productInfo/add" class="flex flex-col gap-3" enctype="multipart/form-data">
                    <label class="label-text">이름</label>
                    <input type="text" name="name" class="input input-bordered">

                    <label class="label-text">브랜드 명</label>
                    <input type="text" class="input input-bordered" name="brandName">

                    <label class="label-text">가격</label>
                    <input type="text" name="cost" class="input input-bordered">

                    <label class="label-text">내용</label>
                    <input type="text" name="content" class="input input-bordered">

                    <label class="label-text">사용처</label>
                    <input type="text" name="usingWay" class="input input-bordered">

                    <label class="label-text">주의사항</label>
                    <textarea name="usingCaution" rows="5" class="textarea textarea-bordered"></textarea>

                    <label class="label-text">대표 이미지</label>
                    <input type="file" name="img" class="file-input file-input-bordered file-input-primary w-full">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="flex justify-center mt-5 gap-6">
                        <a href="/member/admin" class="btn btn-primary">돌아가기</a>
                        <button type="submit" class="btn btn-success">등록하기</button>
                    </div>

                </form>
            </div>

        </div>
        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>
</th:block>
</body>
</html>