<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>상점 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center mx-auto py-20 bg-base-100">

            <div class="flex justify-center my-3">
                <h1 class="text-2xl">상점</h1>
            </div>

            <div class="flex flex-col w-full justify-center items-center">
                <div class="flex flex-col w-full justify-center border rounded-lg">
                    <div th:if="${#lists.isEmpty(infos)}">
                        <h1>아직 상품 정보가 없습니다.</h1>
                    </div>

                    <div class="flex flex-col card bg-base-200" th:unless="${#lists.isEmpty(infos)}"
                         th:each="productInfo : ${infos}">

                        <div class="flex w-full mx-auto items-center py-3">
                            <div class="flex flex-grow mt-2 w-60">
                                <div>
                                    <img class="w-12 h-12 card rounded-full mx-5" th:src="${productInfo.imgUrl}"
                                         alt="productImg">
                                </div>
                                <div>
                                    <p class="text-xs" th:text="'<'+ ${productInfo.brandName} + '>'"></p>
                                    <p class="text-sm" th:text="${productInfo.name}"></p>

                                    <div class="flex gap-2 mt-1">
                                        <p class="text-sm text-yellow-400" th:text="${productInfo.getCost()}"></p>
                                        <i class="fa-solid fa-coins fa-sm mt-2" style="color: #eac02a;"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col flex-grow mx-3 w-24">
                                <h1 class="text-sm" th:text="'잔여 수량 : ' + ${counts.get(productInfo.id)}"></h1>
                            </div>

                            <div class="flex flex-grow-0 items-center mr-3">
                                <div class="flex flex-col gap-3">
                                    <button class="btn btn-sm btn-success"
                                            th:if="${counts.get(productInfo.id)} == 0" disabled>품절상태
                                    </button>
                                    <button th:onclick="tryBuy([[${productInfo.id}]])" class="btn btn-sm btn-success"
                                            th:if="${counts.get(productInfo.id)} != 0">구매하기
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="flex w-full">
                            <div class="divider mt-2 w-full"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        function tryBuy(productId) {
            var buyRs = confirm("정말 구매하시겠습니까?");

            if (buyRs) {
                window.location.href = "/product/buy/" + productId;
            } else {
                toastWarning("구매가 취소되었습니다.");
            }
        }
    </script>
</th:block>
</body>
</html>