<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>나의 알림</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex flex-col w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10 min-h-screen">

            <div class="flex flex-col w-full">
                <div class="flex justify-center" th:if="${#lists.isEmpty(notifications)}">
                    <div>
                        <h1>아직 아무런 알림도 없어요!</h1>
                    </div>
                </div>

                <div class="flex flex-col w-full" th:unless="${#lists.isEmpty(notifications)}"
                     th:each="notification : ${notifications}">

                    <div class="flex w-full">
                        <div class="flex flex-grow-0 items-center">
                            <img class="w-12 h-12 card rounded-full mx-5" th:src="${notification.imgUrl}"
                                 alt="CoinHistoryImg">
                        </div>

                        <div class="flex flex-col flex-grow mt-2">
                            <p class="text-sm" th:text="${notification.contents}"></p>
                            <p class="text-xs text-gray-400" th:text="${notification.getCreateDateFormattedStr()}"></p>
                        </div>

                        <div class="flex flex-grow-0 items-center mr-2">
                            <i class="fa-solid fa-fire fa-lg" style="color: #df1125;"
                               th:if="${notification.isHot()}"></i>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <div class="divider mt-2 w-full"></div>
                    </div>
                </div>

                <div class="flex justify-center">
                    <p class="text-sm text-gray-400">알림은 최신순으로 20개 까지만 보여집니다.</p>
                </div>
            </div>

        </div>

        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>
</th:block>
</body>
</html>