<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>리워드 세팅</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">
            <div class="flex flex-col mb-10">
                <h1 class="text-lg" th:text="${challenge.name} + '에 대한 리워드 설정입니다.'"></h1>

                <div class="flex mt-10">
                    <form method="POST" action="/reward/setting">
                        <input type="hidden" th:value="${challenge.id}" name="id">

                        <div class="flex flex-row w-full justify-around mb-10">
                            <div class="form-control">
                                <label class="flex justify-center label">
                                    <span class="label-text">보상 회차 입력</span>
                                </label>
                                <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                                       name="round"/>
                            </div>

                            <div class="flex w-full justify-center items-center">
                                <div class="form-control">
                                    <label class="label cursor-pointer">
                                        <span class="label-text">코인</span>
                                        <input type="radio" name="rewardType" value="COIN"
                                               class="radio checked:bg-yellow-500" checked/>
                                    </label>
                                </div>
                                <div class="form-control">
                                    <label class="label cursor-pointer">
                                        <span class="label-text">상품</span>
                                        <input type="radio" name="rewardType" value="PRODUCT"
                                               class="radio checked:bg-blue-500 disabled"/>
                                    </label>
                                </div>
                            </div>
                        </div>


                        <input type="range" min="0" max="500" class="range" step="100" name="reward"/>
                        <div class="w-full flex justify-between text-xs px-1">
                            <span>0</span>
                            <span>100</span>
                            <span>200</span>
                            <span>300</span>
                            <span>400</span>
                            <span>500</span>
                        </div>

                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div class="flex justify-center w-full mt-5 gap-5">
                            <a href="/member/admin" class="btn btn-ghost btn-outline">돌아가기</a>
                            <button type="submit" class="btn btn-accent">보상 설정 완료</button>
                        </div>
                    </form>
                </div>

                <div class="divider"></div>

                <div th:if="${#lists.isEmpty(challenge.publicReward)}">
                    <h1>아직 보상이 없습니다!!</h1>
                </div>

                <div class="flex flex-col justify-center w-full " th:unless="${#lists.isEmpty(challenge.publicReward)}">
                    <h1 class="text-lg flex justify-center">현재 보상 상황</h1>
                    <div class="flex flex-col justify-center items-center">
                        <div class="flex gap-10">
                            <p>회차</p>
                            <p>보상 종류</p>
                            <p>보상 내용</p>
                        </div>
                        <div th:each="reward : ${challenge.publicReward}" class="flex gap-20">
                            <p th:text="${reward.round}"></p>
                            <p th:text="${reward.rewardType}"></p>
                            <p th:text="${reward.reward}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-grow bg-purple-50"></div>
    </main>
</th:block>
</body>
</html>