<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>리워드 세팅</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">

            <div class="flex flex-col">
                <h1 th:text="${challengeId} + '번 챌린지에 대한 리워드 설정입니다.'"></h1>

                <div class="flex">
                    <form method="POST" action="/reward/setting">
                        <input type="hidden" th:value="${challengeId}" name="id">
                        <div class="form-control w-full max-w-xs">
                            <label class="label">
                                <span class="label-text">보상 회차 입력</span>
                            </label>
                            <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" name="round"/>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">코인</span>
                                <input type="radio" name="rewardType" class="radio checked:bg-yellow-500" checked/>
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">상품</span>
                                <input type="radio" name="rewardType" class="radio checked:bg-blue-500 disabled"/>
                            </label>
                        </div>
                        <input type="range" min="0" max="500" class="range" step="100" name="reward"/>
                        <div class="w-full flex justify-between text-xs px-1">
                            <span>0</span>
                            <span>100</span>
                            <span>200</span>
                            <span>300</span>
                            <span>400</span>
                            <span>500</span>
                        </div>
                        <button class="btn btn-accent">보상 설정 완료</button>
                    </form>
                </div>

                <div class="divider"></div>

                <div th:if="${#lists.isEmpty(rewardList)}">
                    <h1>아직 보상이 없습니다!!</h1>
                </div>

                <div th:unless="${#lists.isEmpty(rewardList)}">
                    <h1>현재 보상 상황</h1>
                    <div class="flex flex-col">
                        <div class="gap-10">
                            <p>회차</p>
                            <p>보상 종류</p>
                            <p>보상 내용</p>
                        </div>
                        <div th:each="reward : ${rewardList}" class="flex gap-10">
                            <p th:text="${reward.round}"></p>
                            <p th:text="${reward.rewardType}"></p>
                            <p th:text="${reward.reward}"></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
</th:block>
</body>
</html>