<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head>
    <th:block th:replace="~{common/fragments/config :: ConfigFragment}"/>
    <title>공통 타이틀</title>
</head>

<body class="flex flex-col min-h-screen">
<!--Header 영역을 참조합니다.-->
<header th:replace="~{common/fragments/header :: HeaderFragment}"></header>

<!--Content 내용 영역을 참조합니다-->
<div class="flex flex-1 flex-col" style="background-color: #FFFFFF">
    <section layout:fragment="Content"></section>
</div>

<script th:inline="javascript">
    const params = /*[[ ${param} ]]*/ null;

    console.log('params : ' + params);

    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        console.log("errorMsg : " + localStorageKeyAboutHistoryBackErrorMsg);

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });
</script>

</body>
</html>