<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>상품 보관함</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center mx-auto py-20 bg-base-100">

            <div class="flex justify-center my-3">
                <h1 class="text-2xl">상품 보관함</h1>
            </div>

            <div class="flex flex-col w-full justify-center items-center">
                <div class="flex flex-col w-full justify-center border rounded-lg card bg-base-200 pt-5">
                    <div th:if="${#lists.isEmpty(inventories)}">
                        <h1>아직 상품 정보가 없습니다.</h1>
                    </div>

                    <div class="flex flex-col" th:unless="${#lists.isEmpty(inventories)}"
                         th:each="inventory : ${inventories}">

                        <div class="flex w-full mx-auto items-center">
                            <div class="flex flex-grow py-2 w-60">
                                <div>
                                    <img class="w-12 h-12 card rounded-full mx-5" th:src="${inventory.product.info.imgUrl}"
                                         alt="productImg">
                                </div>
                                <div class="mt-2">
                                    <p class="text-xs" th:text="'<'+ ${inventory.product.info.brandName} + '>'"></p>
                                    <p class="text-sm" th:text="${inventory.product.info.name}"></p>
                                </div>
                            </div>

                            <div class="flex flex-grow w-32">
                                <div class="flex gap-2 mt-2">
                                    <p class="text-xs text-base-400" th:text="${inventory.expDate} + '까지'"></p>
                                </div>
                            </div>

                            <div class="flex flex-grow-0 items-center mr-3">
                                <div class="flex flex-col gap-3">
                                    <button class="btn btn-sm btn-success">>></button>
                                </div>
                            </div>
                        </div>

                        <div class="divider w-full"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</body>
</html>