<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>로그인 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100">

            <div class="flex w-full h-full">
                <div>
                    <div>
                        <div class="flex justify-center items-center overflow-hidden gap-2.5">
                            <p class="text-[15px] text-center text-black">카카오톡으로 시작하기</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>