<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>마이 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 mx-auto py-20 navbar bg-base-100 border-b-2">

            <div class="flex-grow-0 flex-shrink-0 w-[531px] h-[600px] relative overflow-hidden">

                <div class="w-[531px] h-[185px] absolute left-[-1px] top-[98px] bg-[#d0bfff]"></div>
                <p class="absolute left-[21px] top-[120px] text-xl font-semibold text-center text-white">내 정보</p>

                <div class="w-[171px] h-9 absolute left-[386px] top-[120px]">
                    <p class="absolute left-[50px] top-0 text-xl font-semibold text-center text-white">로그아웃</p>
                </div>

                <img class="absolute left-[185.5px] top-[202.5px]" src="/templates/images/img1.jpg"/>

                <div class="w-[171px] h-9 absolute left-[175px] top-36">
                    <p class="absolute left-[18px] top-0 text-3xl font-semibold text-center text-white">마이페이지</p>
                </div>

                <div class="w-[450px] h-[197px] absolute left-[41px] top-[402px] rounded-[32px] bg-white border border-[#e2e2e2]"
                     style="box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.04);"></div>

                <div class="flex flex-col justify-center items-center w-[25px] h-[25px] absolute left-[425px] top-[551px] rounded-[100px] bg-[#ff2c20] border-2 border-white">
                    <p class="flex-grow-0 flex-shrink-0 text-xs font-bold text-center text-white">3</p>
                </div>

                <p class="w-[97px] h-7 absolute left-16 top-[551px] text-xl font-semibold text-center text-black">완료</p>
                <div class="w-[95px] h-[42px] absolute left-[218px] top-[415px] rounded-[32px] bg-[#d0bfff] border border-[#e2e2e2]"
                     style="box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.04);">
                </div>

                <p class="absolute left-[239px] top-[425px] text-xl font-semibold text-center text-white">챌린지</p>
                <p class="w-[97px] h-7 absolute left-16 top-[491px] text-xl font-semibold text-center text-black">진행중</p>
                <svg width="391" height="6" viewBox="0 0 391 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="absolute left-[81px] top-[530px]" preserveAspectRatio="none">
                    <line x1="0.00516768" y1="0.500027" x2="390.005" y2="4.53103" stroke="black"></line>
                </svg>

                <div class="flex flex-col justify-center items-center w-[25px] h-[25px] absolute left-[425px] top-[494px] rounded-[100px] bg-[#ff2c20] border-2 border-white">
                    <p class="flex-grow-0 flex-shrink-0 text-xs font-bold text-center text-white">3</p>
                </div>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="w-6 h-6 absolute left-[457px] top-[495px]" preserveAspectRatio="none">
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="w-6 h-6 absolute left-[457px] top-[711px]" preserveAspectRatio="none">
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="w-6 h-6 absolute left-[457px] top-[553px]" preserveAspectRatio="none">
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

                <div class="w-[450px] h-[197px] absolute left-[37px] top-[618px] rounded-[32px] bg-white border border-[#e2e2e2]"
                     style="box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.04);">
                </div>

                <p class="w-[97px] h-7 absolute left-96 top-[757px] text-xl font-semibold text-center text-black">150</p>
                <p class="w-[97px] h-7 absolute left-[375px] top-[715px] text-xl font-semibold text-center text-black">3,000</p>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="w-6 h-6 absolute left-[457px] top-[759px]" preserveAspectRatio="none">
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="w-6 h-6 absolute left-[457px] top-[711px]" preserveAspectRatio="none">
                    <path d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round"></path>
                </svg>

                <svg width="391" height="6" viewBox="0 0 391 6" fill="none" xmlns="http://www.w3.org/2000/svg"
                     class="absolute left-[81px] top-[743px]" preserveAspectRatio="none">
                    <line x1="0.00516768" y1="0.500027" x2="390.005" y2="4.53103" stroke="black"></line>
                </svg>

                <p class="w-[97px] h-7 absolute left-[73px] top-[764px] text-xl font-semibold text-center text-black">나의 소득</p>
                <p class="w-[97px] h-7 absolute left-[82px] top-[704px] text-xl font-semibold text-center text-black">일상 지원금</p>
                <div class="w-[95px] h-[42px] absolute left-[218px] top-[639px] rounded-[32px] bg-[#d0bfff] border border-[#e2e2e2]"
                     style="box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.04);">
                </div>
                <p class="absolute left-[248px] top-[649px] text-xl font-semibold text-center text-white">소득</p>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>