<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>
        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">

            <div id="my" class="flex justify-center items-center">
                <span class="text-2xl text-black mb-5">마이페이지</span>
            </div>

            <div class="flex avatar justify-center">
                <div class="flex justify-center items-center w-24 rounded-full">
                    <img th:unless="${member.imgUrl}"
                         src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" alt="profile_img"/>
                    <img th:if="${member.imgUrl}"
                         th:src="${member.imgUrl}" alt="profile_img"/>
                </div>
            </div>

            <div class="flex justify-center mt-8 mb-5">
                <span class="underline underline-offset-8" th:text="${member.getNickname()}"></span>
            </div>

            <div class="flex bg-purple-200 rounded-2xl mt-5 h-24 mx-auto items-center w-96 border">
                <div class="flex w-full justify-center items-center mt-2">
                    <a href="/point/history" class="flex flex-col items-center mr-4">
                        <i class="fa-solid fa-money-bill-wave fa-xl" style="color: #3faa31;"></i>
                        <p class="text-sm mt-6">일상지원금</p>
                    </a>

                    <div class="divider divider-horizontal"></div>

                    <a href="/coin/history" class="flex flex-col mx-6 items-center">
                        <i class="fa-solid fa-coins fa-xl" style="color: #eac02a;"></i>
                        <p class="text-sm mt-6">코인</p>
                    </a>

                    <div class="divider divider-horizontal"></div>

                    <a href="/member/inventory" class="flex flex-col items-center ml-4">
                        <i class="fa-solid fa-bag-shopping fa-xl" style="color: #c098f0;"></i>
                        <p class="text-sm mt-6">보관함</p>
                    </a>
                </div>
            </div>


            <div class="flex flex-col shadow-lg border rounded-2xl my-5 w-80 mx-auto">
                <div class="rounded-box items-center">
                    <a class="flex justify-around mt-3">
                        <div>
                            <span class="text-sm">진행중인 챌린지</span>
                        </div>
                        <div>
                            <span th:text="${inProgressNum} + '개'"></span>
                            <i class="fa-solid fa-star ml-2" style="color: #f0dc00;"></i>
                        </div>
                    </a>
                </div>
                <div class="divider h-1"></div>
                <div class="rounded-box items-center">
                    <a class="flex justify-around mb-2">
                        <div>
                            <span class="text-sm">완료한 챌린지</span>
                        </div>
                        <div>
                            <span th:text="${endProgressNum} + '개'"></span>
                            <i class="fa-solid fa-circle-check ml-2" style="color: #005eff;"></i>
                        </div>
                    </a>
                </div>
            </div>

            <div class="flex justify-center">
                <button class="btn btn-outline btn-neutral w-36 btn-sm rounded-full mt-5 mb-5">내 정보 수정</button>
            </div>

            <div class="flex shadow-lg border rounded mt-15">
                <table class="table table-lg table-zebra">
                    <tr>
                        <td>이름</td>
                        <td>이름</td>
                    </tr>
                    <tr>
                        <td>닉네임</td>
                        <td><span th:text="${member.getNickname()}"></span></td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>생년월일</td>
                    </tr>
                    <tr>
                        <td>성별</td>
                        <td>남</td>
                    </tr>
                    <tr>
                        <td>휴대폰번호</td>
                        <td>휴대폰번호</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>이메일</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>
</th:block>
</body>
</html>