<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>마이 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50"></div>
        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">

            <div id="my" class="flex justify-center items-center">
                <span class="text-2xl text-black mb-5">마이페이지</span>
            </div>

            <div class="flex avatar justify-center">
                <div class="flex justify-center items-center w-24 mask mask-squircle">
                    <img src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"/>
                </div>
            </div>

            <div class="flex justify-center mt-8 mb-5">
                <span th:text="${member.getNickname()}"></span>
            </div>

            <div class="flex flex-col w-full bg-purple-200 py-3 rounded-2xl mt-5">
                <div class="flex">
                    <div class="grid flex-grow rounded-box">
                        <a href="/point/history" class="flex justify-around">
                            <div>
                                <span class="text-sm mt-2">일상지원금</span>
                            </div>

                            <div>
                                <span class="text-sm" th:text="${#numbers.formatInteger(member.point.currentPoint, 1, 'COMMA')}"></span>
                                <i class="fa-solid fa-money-bill-wave ml-2" style="color: #3faa31;"></i>
                            </div>
                        </a>
                    </div>

                    <div class="divider divider-horizontal"></div>
                    <div class="grid flex-grow rounded-box">
                        <a href="/coin/history" class="flex justify-around">
                            <div>
                                <span class="text-sm mt-2">코인</span>
                            </div>

                            <div>
                                <span class="text-sm" th:text="${#numbers.formatInteger(member.coin.currentCoin, 1, 'COMMA')}"></span>
                                <i class="fa-solid fa-coins ml-2" style="color: #eac02a;"></i>
                            </div>
                        </a>
                    </div>

                    <div class="divider divider-horizontal"></div>
                    <div class="grid flex-grow rounded-box">
                        <a href="/member/inventory" class="flex justify-around">
                            <div>
                                <span class="text-sm mt-2">보관함</span>
                                <i class="fa-solid fa-bag-shopping ml-2" style="color: #c098f0;"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col shadow-lg w-full border py-3 rounded-2xl mt-5 mb-9">
                <div class="flex">
                    <div class="grid flex-grow rounded-box">
                        <a class="flex justify-around">
                            <div>
                                <span class="text-sm mt-2">진행중인 챌린지</span>
                            </div>
                            <div>
                                <span th:text="${inProgressNum} + '개'"></span>
                                <i class="fa-solid fa-star ml-2" style="color: #f0dc00;"></i>
                            </div>
                        </a>
                    </div>

                    <div class="divider divider-horizontal"></div>
                    <div class="grid flex-grow rounded-box">
                        <a class="flex justify-around">
                            <div>
                                <span class="text-sm mt-2">완료한 챌린지</span>
                            </div>
                            <div>
                                <span th:text="${endProgressNum} + '개'"></span>
                                <i class="fa-solid fa-circle-check ml-2" style="color: #1f9e45;"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex justify-center">
                <button class="w-1/4 btn btn-sm rounded-full mt-5 mb-5">내 정보 수정</button>
            </div>

            <div class="flex shadow-lg border rounded mt-15">
                <table class="table table-lg">
                    <tr>
                        <td>이름</td>
                        <td>이름</td>
                    </tr>
                    <tr>
                        <td>닉네임</td>
                        <td><span th:text="${member.getNickname()}"></span></td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>생년월일</td>
                    </tr>
                    <tr>
                        <td>성별</td>
                        <td>남</td>
                    </tr>
                    <tr>
                        <td>휴대폰번호</td>
                        <td>휴대폰번호</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>이메일</td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="flex flex-grow bg-purple-50"></div>
    </main>
</th:block>
</body>
</html>