<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>인덱스 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10">

            <div class="flex flex-col justify-center items-center w-full min-h-screen">
                <p class="text-center text-black">
                    <span class="text-[15px] text-center text-black">나의 습관이 </span>
                    <span class="text-xl text-center text-yellow-300">소득</span>
                    <span class="text-[15px] text-center text-black">이되는</span><br/><br/>
                    <span class="text-3xl text-center text-black">Miracle Routine</span>
                </p>
            </div>
        </div>
        <div class="flex flex-grow bg-purple-50"></div>
    </main>
</th:block>
</body>
</html>