<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>인덱스 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">
        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex justify-center w-[36rem] pt-20 bg-base-100 flex-grow-0">
            <img src="https://kr.object.ncloudstorage.com/mirou/etc/%EA%B8%80%EC%94%A8x-001.png" alt="main">

            <div class="flex flex-col flex-grow justify-center items-center w-full min-h-screen
                    absolute top-[36rem] left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <div class="flex justify-center items-center w-full mb-40">
                    <p class="text-center text-black">
                        <span class="text-[25px] text-center text-black">나의 습관이 </span>
                        <span class="text-3xl text-center text-yellow-300">소득</span>
                        <span class="text-[25px] text-center text-black">이되는</span><br/><br/>
                        <span class="text-5xl text-center text-black">Miracle Routine</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>
</th:block>
</body>
</html>