<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>인덱스 페이지</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-1/2 h-full mx-auto py-20 navbar bg-base-100">

            <div class="flex flex-col justify-center items-center w-full min-h-screen">
                <p class="text-center text-black">
                    <span class="text-[15px] text-center text-black">나의 습관이 </span>
                    <span class="text-xl text-center text-yellow-300">소득</span>
                    <span class="text-[15px] text-center text-black">이되는</span><br/><br/>
                    <span class="text-3xl text-center text-black">Miracle Routine</span>
                </p>

                <div class="mt-6" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <a class="btn btn-primary" href="#">(관리자) 챌린지 생성</a>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>