<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title>인증글 보기</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex flex-col w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10 min-h-screen">

            <div class="flex flex-col">

                <h1 class="flex justify-center my-3 text-2xl font-bold"
                    th:text="${feedListDto.linkedChallenge.name}"></h1>
                <img th:if="${feedListDto.challengeImg}" class="rounded-lg"
                     th:src="${feedListDto.challengeImg}" alt="challengeImg">

                <div class="flex w-full items-center justify-center mt-3">
                    <div class="flex flex-col">
                        <div class="flex mt-2 gap-2">
                            <div class="flex badge badge-primary badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="${feedListDto.linkedChallenge.method.getMethod()} + '으로 참여하는 챌린지에요!'">
                                <i class="fa-solid fa-camera-retro fa-lg mr-2"></i>
                                <p th:text="${feedListDto.linkedChallenge.method.frontStr}"></p>
                            </div>
                            <div class="flex badge badge-accent badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="'참여 당일부터 ' + ${feedListDto.linkedChallenge.period} + '일 간 진행되요!'">
                                <i class="fa-regular fa-calendar fa-lg mr-2"></i>
                                <p th:text="${feedListDto.linkedChallenge.period} + '일'"></p>
                            </div>

                            <div class="badge badge-primary badge-outline rounded-md px-3 py-4">
                                <i class="fa-solid fa-person-walking fa-lg mr-2"
                                   th:if="${feedListDto.linkedChallenge.tag.getChallengeTag().equals('습관 챌린지')}"></i>
                                <i class="fa-solid fa-tree fa-lg mr-2"
                                   th:if="${feedListDto.linkedChallenge.tag.getChallengeTag().equals('환경 챌린지')}"></i>
                                <i class="fa-solid fa-pen fa-lg mr-2"
                                   th:if="${feedListDto.linkedChallenge.tag.getChallengeTag().equals('기타')}"></i>
                                <p th:text="${feedListDto.linkedChallenge.tag.frontStr}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center w-full my-3">
                <h1>나의 최근 인증</h1>
            </div>

            <div class="flex justify-center" th:if="${#lists.isEmpty(feedListDto.myFeeds)}">
                <div>
                    <h1 class="text-gray-400">아직 인증하지 않았어요!</h1>
                </div>
            </div>

            <div class="rounded-lg border shadow-xl pt-5" th:unless="${#lists.isEmpty(feedListDto.myFeeds)}">
                <div class="flex flex-col bg-base-100 w-full rounded-lg"
                     th:each="myFeed : ${feedListDto.myFeeds}">

                    <div class="flex items-center w-full">
                        <div class="flex flex-grow items-center">

                            <img class="w-12 h-12 card rounded-full mx-5" th:src="${feedImages.get(myFeed.id)}"
                                 alt="feedPreView">

                            <div class="flex flex-col ml-3">
                                <p th:if="${myFeed.status.getStatus().equals('공개')}" th:text="${myFeed.contents}"></p>
                                <p class="text-gray-300 line-through" th:if="${myFeed.status.getStatus().equals('비공개')}" th:text="${myFeed.contents}"></p>
                                <p class="text-sm text-gray-500" th:text="${myFeed.getCreateDateShortsStr()}"></p>
                            </div>
                        </div>

                        <div class="flex flex-grow-0 mr-4"
                             th:onclick="'feedModal' + ${myFeed.id} + '.showModal()'">
                            <button class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>

                        <dialog th:id="'feedModal' + ${myFeed.id}" class="modal">
                            <div class="flex flex-col justify-center modal-box">
                                <form method="dialog">
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>
                                <div class="flex justify-center mb-3">
                                    <img class="w-8 h-8 rounded-full mr-2" th:if="${myFeed.writer.imgUrl}"
                                         th:src="${myFeed.writer.imgUrl}" alt="profile_img"/>
                                    <h3 class="flex justify-center font-bold pt-1"
                                        th:text="${myFeed.writer.getNickname()} + ' 님의 인증글'"></h3>
                                </div>
                                <img th:src="${myFeed.imgUrl}" alt="feedImg">
                                <p class="pt-2 text-sm text-gray-500" th:text="${myFeed.getCreateDateFormatStr()}"></p>
                                <p class="pt-1 pb-6" th:text="${myFeed.contents}"></p>

                                <div class="flex justify-center">
                                    <button th:onclick="|hideFeed(${myFeed.id})|" class="btn btn-warning">숨기기</button>
                                </div>
                            </div>
                        </dialog>
                    </div>

                    <div class="divider"></div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="flex justify-center w-full my-3">
                <h1>전체 피드 리스트</h1>
            </div>

            <div class="flex justify-center" th:if="${#lists.isEmpty(feedListDto.notMineFeeds)}">
                <div>
                    <h1 class="text-gray-400">첫 인증의 주인공이 되어보세요!</h1>
                </div>
            </div>

            <div class="flex w-full flex-wrap gap-5 justify-center items-center"
                 th:unless="${#lists.isEmpty(feedListDto.notMineFeeds)}">
                <div class="flex bg-base-100 mb-3 rounded-lg shadow-lg border bg-purple-100"
                     th:each="feed : ${feedListDto.notMineFeeds}"
                     th:onclick="'feedModal' + ${feed.id} + '.showModal()'">

                    <div class="flex flex-col items-center">
                        <img class="rounded-lg" th:src="${feedImages.get(feed.id)}" alt="feedPreView">
                        <span class="text-sm py-2"
                              th:text="${#strings.length(feed.writer.nickname) > 10
                                      ? #strings.substring(feed.writer.nickname, 0, 10) + '...' : feed.writer.nickname}">
                        </span>
                    </div>

                    <dialog th:id="'feedModal' + ${feed.id}" class="modal">
                        <div class="flex flex-col justify-center modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <div class="flex justify-center mb-3">
                                <img class="w-8 h-8 rounded-full mr-2" th:if="${feed.writer.imgUrl}"
                                     th:src="${feed.writer.imgUrl}" alt="profile_img"/>
                                <h3 class="flex justify-center font-bold pt-1"
                                    th:text="${feed.writer.getNickname()} + ' 님의 인증글'"></h3>
                            </div>

                            <img th:src="${feed.imgUrl}" alt="feedImg">
                            <p class="pt-2 text-sm text-gray-500" th:text="${feed.getCreateDateFormatStr()}"></p>
                            <p class="pt-1 pb-6" th:text="${feed.contents}"></p>
                            <div class="flex justify-center mb-5">
                                <a th:onclick="|tryLike(${feed.id}, this)|">
                                    <i class="fa-regular fa-heart fa-2xl" style="color: #8041D9;"></i>
                                </a>
                                <span class="text-xs inline-block" th:text="${feed.likeCount}"
                                      style="color: #8041D9;"></span>
                                <a th:onclick="|tryReport(${feed.id})|" class="ml-6 tooltip"
                                   data-tip="신고하기는 반대하기가 아니에요. 신중하게 눌러주세요.">
                                    <i class="fa-solid fa-ban fa-2xl" style="color: #8041D9;"></i>
                                </a>
                            </div>
                        </div>
                    </dialog>
                </div>
            </div>
        </div>

        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>

    <script th:inline="javascript">

        function tryLike(feedId, element) {

            element.onclick = null;

            let url = "/feed/like/" + feedId;

            const headerName = document.querySelector("meta[name='_csrf_header']").getAttribute("content");
            const tokenValue = document.querySelector("meta[name='_csrf']").getAttribute("content");

            fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    [headerName]: tokenValue
                }
            })
                .catch((error) => {
                    console.log('Error:', error);
                    return;
                })

            toastNotice("좋아요가 반영되었습니다.");
        }

        function tryReport(targetFeedId) {

            const reporterId = /*[[${@rq.member.id}]]*/'';
            const csrfToken = /*[[${_csrf.token}]]*/'';
            const contents = prompt("신고 사유를 작성해 주세요.");

            if (contents === null) {
                toastNotice("신고가 취소되었습니다.")
                return;
            }

            const requestData = {
                reporterId: reporterId,
                targetFeedId: targetFeedId,
                contents: contents,
                _csrf: csrfToken
            };

            $.ajax({
                url: "/report/tryReport",
                type: "POST",
                data: requestData,
                success: function (data) {
                    const response = data;
                    const code = response.resultCode;
                    const msg = response.msg;

                    if (code.toString().startsWith('F')) {
                        toastWarning(msg);
                    } else {
                        toastNotice(msg);
                    }
                }
            })
        }

        function hideFeed(feedId) {

            console.log(feedId);
            var confirmRs = confirm("숨기기를 하면 다른 회원들에게서 게시글이 숨겨지고, \n불이익이 발생할 수 있어요, 정말로 숨길까요?");

            if(confirmRs) {
                const csrfToken = /*[[${_csrf.token}]]*/'';

                const requestData = {
                    feedId: feedId,
                    _csrf: csrfToken
                };

                $.ajax({
                    url: "/feed/hide",
                    type: "POST",
                    data: requestData,
                    success: function (data) {
                        const response = data;
                        const code = response.resultCode;
                        const msg = response.msg;

                        if (code.toString().startsWith('F')) {
                            toastWarning(msg);
                        } else {
                            toastNotice(msg);
                        }
                    }
                })
            }
        }
    </script>
</th:block>
</body>
</html>