<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}" data-theme="corporate">
<head>
    <title>인증글 보기</title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex w-full">
        <div class="flex flex-col justify-center w-full mx-auto py-20 navbar">

            <div class="flex justify-center w-full">
                <h1>나의 피드 리스트</h1>
            </div>

            <div th:if="${#lists.isEmpty(feedListDto.myFeeds)}">
                <div>
                    <h1 class="text-gray-400">아직 피드를 작성하지 않았습니다</h1>
                </div>
            </div>

            <div class="flex flex-col w-full" th:unless="${#lists.isEmpty(feedListDto.myFeeds)}">
                <div class="w-auto grid grid-cols-3 gap-6">
                    <div class="flex flex-col bg-base-100 shadow-xl mb-3" th:each="myFeed : ${feedListDto.myFeeds}"
                         th:onclick="'feedModal' + ${myFeed.id} + '.showModal()'">
                        <img th:src="${ImageDataService.getOptimizingUrl(myFeed.imgUrl, option)}" alt="feedPreView">

                        <dialog th:id="'feedModal' + ${myFeed.id}" class="modal">
                            <div class="modal-box">
                                <form method="dialog">
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>
                                <h3 class="font-bold" th:text="${myFeed.writer.getNickname()}"></h3>
                                <img th:src="${myFeed.imgUrl}" alt="feedImg">
                                <p class="py-4" th:text="${myFeed.contents}"></p>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="flex justify-center w-full">
                <h1>전체 피드 리스트</h1>
            </div>

            <div th:if="${#lists.isEmpty(feedListDto.notMineFeeds)}">
                <div>
                    <h1 class="text-gray-400">피드가 존재하지 않습니다</h1>
                </div>
            </div>

            <div class="flex flex-col w-full"
                 th:unless="${#lists.isEmpty(feedListDto.notMineFeeds)}">
                <div class="w-auto grid grid-cols-3 gap-6">
                    <div class="flex flex-col bg-base-100 shadow-xl mb-3 w-full"
                         th:each="feed : ${feedListDto.notMineFeeds}" th:onclick="'feedModal' + ${feed.id} + '.showModal()'">
                        <img th:src="${ImageDataService.getOptimizingUrl(feed.imgUrl, option)}" alt="feedPreView">

                        <dialog th:id="'feedModal' + ${feed.id}" class="modal">
                            <div class="flex flex-col justify-center modal-box">
                                <form method="dialog">
                                    <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                </form>
                                <h3 class="flex justify-center font-bold mb-2"
                                    th:text="${feed.writer.getNickname()} + ' 님의 인증글'"></h3>
                                <img th:src="${feed.imgUrl}" alt="feedImg">
                                <p class="pt-2 text-sm text-gray-500" th:text="${feed.createDate}"></p>
                                <p class="pt-1 pb-3" th:text="${feed.contents}"></p>
                                <div class="flex justify-center gap-5 mb-5">
                                    <a href="#" >
                                        <i class="fa-regular fa-heart fa-shake fa-2xl" style="color: #f72b2b;"></i>
                                    </a>
                                    <a class="tooltip" data-tip="신고하기는 반대하기가 아니에요. 신중하게 눌러주세요." href="#" >
                                        <i class="fa-solid fa-ban fa-2xl" style="color: #f72b2b;"></i>
                                    </a>
                                </div>
                            </div>
                        </dialog>
                    </div>
                </div>
            </div>

        </div>
    </main>
</th:block>
</body>
</html>