<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<head>
    <title th:text="${challenge.name} + '인증'"></title>
</head>
<body>
<th:block layout:fragment="Content">
    <main class="flex justify-center w-full">

        <div class="flex flex-grow bg-purple-50 border"></div>

        <div class="flex flex-col justify-center w-[36rem] py-20 bg-base-100 flex-grow-0 mx-10 min-h-screen">

            <div class="flex flex-col">

                <h1 class="flex justify-center my-3 text-2xl font-bold" th:text="${challenge.name}"></h1>
                <img th:if="${challengeImg}" class="rounded-lg" th:src="${challengeImg}" alt="challengeImg">

                <div class="flex w-full items-center justify-center mt-3">
                    <div class="flex flex-col">
                        <div class="flex mt-2 gap-2">
                            <div class="flex badge badge-primary badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="${challenge.method.getMethod()} + '으로 참여하는 챌린지에요!'">
                                <i class="fa-solid fa-camera-retro fa-lg mr-2"></i>
                                <p th:text="${challenge.method.getMethod()}"></p>
                            </div>
                            <div class="flex badge badge-accent badge-outline rounded-md px-3 py-4 tooltip"
                                 th:data-tip="'참여 당일부터 ' + ${challenge.period} + '일 간 진행되요!'">
                                <i class="fa-regular fa-calendar fa-lg mr-2"></i>
                                <p th:text="${challenge.period} + '일 챌린지'"></p>
                            </div>

                            <div class="badge badge-primary badge-outline rounded-md px-3 py-4">
                                <i class="fa-solid fa-person-walking fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('습관 챌린지')}"></i>
                                <i class="fa-solid fa-tree fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('환경 챌린지')}"></i>
                                <i class="fa-solid fa-pen fa-lg mr-2"
                                   th:if="${challenge.tag.getChallengeTag().equals('기타')}"></i>
                                <p th:text="${challenge.tag.getChallengeTag()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center">
                <form id="feedForm" class="flex flex-col justify-center w-full" enctype="multipart/form-data"
                      method="POST" th:action="|/feed/write/${challenge.id}|">

                    <div class="flex flex-col w-full">
                        <img class="my-5 mx-20" id="preview">
                        <span class="flex justify-start w-full label tooltip mx-10"
                              data-tip="jpg, jpeg, png, gif 등의 이미지 형식만 첨부 해주세요!">인증샷 첨부</span>
                        <input type="file" class="file-input file-input-bordered file-input-info mx-10"
                               id="img" name="img">
                    </div>

                    <div class="mt-10 flex flex-col form-control w-full">
                    <span class="flex justify-start w-full label tooltip mx-10"
                          data-tip="25자 이내로 한줄 소감을 작성 해보세요!">한줄 소감</span>
                        <input type="text" placeholder="Type here" class="input input-bordered mx-10"
                               id="contents" name="contents" maxlength="25"/>
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="flex justify-center w-full mt-6">
                        <button id="submitBtn" onclick="submitImg()" class="btn btn-outline btn-accent" type="submit">인증
                            완료
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex flex-grow bg-purple-50 border"></div>
    </main>

    <script>

        function submitImg() {
            let submitBtn = document.getElementById("submitBtn");
            submitBtn.disabled = true;

            let form = document.getElementById("feedForm");
            form.submit();
        }

        $("#img").on("change", function (event) {

            var file = event.target.files[0];

            if (!isImageFile(file)) {
                toastWarning("이미지 파일만 업로드 가능합니다");
                $("#preview").attr("src", null);
                $("#img").val("");
                return;
            }

            var reader = new FileReader();
            reader.onload = function (e) {
                $("#preview").attr("src", e.target.result);
            }

            reader.readAsDataURL(file);
        });

        function isImageFile(file) {

            var ext = file.name.split(".").pop().toLowerCase();

            return ($.inArray(ext, ["jpg", "jpeg", "gif", "png"]) === -1) ? false : true;
        }
    </script>
</th:block>
</body>
</html>